.toast-base {
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	overflow: hidden;
	z-index: 99800000000;

	.toast-background {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba( 0, 0, 0, .6 );
		z-index: -1;
	}

	.toast-content {
		padding: 25px 20px;

	}

	.toast-icon {
		display: block;
		margin: 0 auto;
		width: 200px;
		height: 50px;
		margin-bottom: 14px;
		//background: url( '../../img/common/toast-icon.png' ) no-repeat;
		background-size: 50px auto;
		background-position-x: center;
	}

	.toast-text {
	   margin: 0;
	   line-height: 23px;
	   text-align: center;
	   font-size: 18px;
	   color: #fff;
	   margin-top: -58px;
	}
}

.toast-success {
	.toast-icon {
		background-position-y: 0;
	}
}

.toast-error, .toast-warn {
	.toast-icon {
		background-position-y: -73px;
	}
}

.toast-fade{
    -webkit-animation: fade 0.5s linear;
    animation: fade 0.5s linear;
}
@-webkit-keyframes fade {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@keyframes opacity {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
